<footer class="footer clearfix">
  <div class="px3 sm-px4">
    <div class="container">
      <div class="col lg-col-6 md-col-12 sm-col-12 xs-col-12 p1 footer--about">
        <h4>About</h4>
        <span class="sitename"><em>Food<strong>Wage</strong></em>.com</span> Makes it simple for you to see and save
        your favorite recipes.<br>
        You will find what you're looking for on this site, whether it's a new recipe or what you happen to have on
        hand.
        <br>
        <span class="quote"><span class="quotes">„</span>The world’s an amazingly delicious place <span
            class="quotes">“</span></span> --<strong>FW</strong>
      </div>
      <div class="lg-col xs-col sm-col md-col lg-col-3 md-col-6 sm-col-6 xs-col-6 p1 footer--links">
        <h4>Links</h4>
        <ul>
          <li><a aria-label="statistics" href='https://stats.foodwage.com'>Stats</a></li>
          <li><a aria-label="contact" href='/submit'>Contact</a></li>
          <li><a aria-label="privacy" href='/privacy'>Privacy</a></li>
          <li><a aria-label="favorites" href='/favorites'>Favorites</a></li>
        </ul>
      </div>
      <div
        class="lg-col-right xs-col-right sm-col-right md-col-right lg-col-3 md-col-6 sm-col-6 xs-col-6 p1 footer--links">
        <h4>Site</h4>
        <ul>
          <li><a aria-label="categories" href='/categories'>Categories</a></li>
          <li><a aria-label="cuisines" href='/tags'>Cuisines</a></li>
          <li><a aria-label="chefs" href='/chefs'>Chefs</a></li>
          <li><a aria-label="meals" href='/meals'>Meals</a></li>
        </ul>
      </div>
      <div class="mx-auto center col lg-col-12 md-col-12 sm-col-12 xs-col-12 p1 footer--copyright">
        <hr>
        <!----<a aria-label="e-mail" class="squigglyURL--main" href='mailto:hello@foodwage.com'>hello@<span
            class="siteName"><em>food<strong>wage</strong></em></span>.com</span></a><br>
        <span class="footer--love">
          made with
          <svg height=".8em" fill="#e83151" viewBox="0 0 32 32">
            <path d="M0 10c0-4 3-8 8-8 4 0 7 3 8 4 1-1 4-4 8-4 6 0 8 4 8 8 0 8-14 19-16 20-2-1-16-12-16-20" />
          </svg></p>--->
        <span>all rights reserved &copy; <span id="copyright">
            <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>
          </span> <span><em>Food<strong>Wage</strong></em>
      </div>
    </div>
  </div>
</footer>