<!DOCTYPE html>
<html lang="en">
  
  {% include head.html %}
  <body>

  	{% include header.html %}

    <div class="page-content">
      <div class="main-container">
        <div id="769991453">
          <script type="text/javascript">
              try {
                  window._mNHandle.queue.push(function (){
                      window._mNDetails.loadTag("769991453", "728x90", "769991453");
                  });
              }
              catch (error) {}
          </script>
      </div>
        {{ content }}
      </div>
    </div>

  {% include footer.html %}
  </body>

</html>
